body {
    font-family: Roboto, sans-serif;
}

.wrapper {
    min-height: 100%;
    width: auto;
    overflow: hidden;
}

.container {
    width: 1442px;
    padding: 0 22px;
    margin: 0 auto;
}



.header__top {
    display: flex;
    justify-content: space-between;
    border: 1px solid #000000;
    align-items: center;
}

.header__list-left {
    width: 550px;
    display: flex;
    justify-content: space-evenly;
}

.header__list-right {
    width: 550px;
    display: flex;
    justify-content: space-evenly;
}

.header__list-item {
    padding: 15px 44px;
    font-size: 14px;
    letter-spacing: 0.5px;
    color: #222222;
}

.header__logo {
    display: flex;
    align-items: center;
    gap: 30px;
}

.header__logo:before {
    content: '';
    width: 17px;
    height: 17px;
    background-color: #FB4B4D;
    border-radius: 50%;
    border: 1px solid #000000;
}

.header__logo:after {
    content: '';
    width: 17px;
    height: 17px;
    background-color: #8B83F6;
    border-radius: 50%;
    border: 1px solid #000000;
}

.header__list-item--higlight {
    background-color: #FB4B4D;
    color: #ffffff;
}


.header__main {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 233px 191px 78px 485px;
    grid-template-areas: 
        "second-logo title"
        "second-logo hand-sause"
        "ticker hand-sause"
        "standing-sause hand-sause";
}

.header__second-title {
    border-left: 1px solid #000000;
    grid-area: second-logo;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__hebrew-text {
    width: 657px;
    height: 384px;
}

.grid-title {
    border: solid 1px #000000;
    border-top: 0;
    grid-area: title;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__title {
    width: 536px;
    font-size: 58px;
    letter-spacing: 0.5px;
    text-align: center;
}

.header__photo-2 {
    display: flex;
    grid-area: hand-sause;
    align-items: center;
    justify-content: center;
    border: solid 1px #000000;
    border-top: 0;
}

.header__hand-sause {
    width: 656px;
    height: 705px;
}

.header__photo-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: standing-sause;
    border-left: 1px solid #000000;
    border-bottom: 1px solid #000000;
}

.header__standing-sause {
    width: 657px;
    height: 436px;
}

.ticker {
    position: relative;
    overflow: hidden;
    border: 1px solid #000000;
    border-right: 0;
    display: flex;
    grid-area: ticker;
}

.ticker__wrapper {
    display: flex;
}

.ticker__item {
    white-space: nowrap;
    flex-shrink: 0;
    animation: ticker 5s linear infinite;
    display: flex;
    align-items: center;
}

.ticker__item-footer {
    animation: ticker 8s linear infinite;
}

.ticker__text {
    font-size: 17px;
    letter-spacing: 0.5px;
    padding: 0 29px;
}

@keyframes ticker {
    0% {
        transform: translateZ(0);
    }
    to {
        transform: translate3d(-100%, 0, 0);
    }
}





.main__title {
    border: 1px solid #000000;
    border-top: 0;
    height: 273px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__title-text {
    font-size: 65px;
    letter-spacing: 0.5px;
    width: 785px;
    text-align: center;
    display: flex;
}

.main__title::before {
    content: "";
    background-image: url(/Images/scorpio.svg);
    width: 225px;
    height: 156px;
}

.main__products {
    display: flex;
    gap: 23px;
    justify-content: center;
    border: 1px solid #000000;
    border-top: 0;
    padding: 20px 0;
    background-image: url(Images/decorative-2.svg), 
                    url(Images/decorative-1.svg), 
                    url(Images/decorative-1.svg),
                    url(Images/decorative-2.svg);
    background-repeat: no-repeat;
    background-position: 21px 20px, 437px 20px, 902px 20px, 1318px 20px;
}

.main__products-item {
    background-image: url(Images/background_figure.svg);
    height: 658px;
    width: 436px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.main__products-image {
    width: 390px;
    height: 411px;
    margin-bottom: 23px;
}

.main__products-description {
    font-size: 18px;
    line-height: 28.1px;
    letter-spacing: 0.5px;
    margin-bottom: 14px;
}

.main__products-title {
    font-size: 32px;
    line-height: 38px;
    letter-spacing: 0.5px;
    margin-bottom: 13px;
}

.main__ticker {
    height: 78px;
    border-top: 0;
    border-right: 1px solid #000000;
}

.main__bottom-pic {
    height: 722px;
    padding: 21px;
    border: 1px solid #000000;
    border-top: 0;
}

.main__bottom-article {
    display: grid;
    grid-template-columns: repeat(2, 696px);
    grid-template-rows: 227px 471px;
    grid-auto-flow: column;
    border: 1px solid #000000;
    border-top: 0;
}

.main__bottom-arttitle {
    font-size: 58px;
    line-height: 64.5px;
    letter-spacing: 0.5px;
    width: 590px;
    text-align: center;
    text-transform: uppercase;
    margin-left: 54px;
    margin-top: 53px;
}

.main__bottom-image {

}

.main__bottom-text {
    border-left: 1px solid #000000;
    background-image: url(Images/picture_star.svg);
    grid-row-start: 1;
    grid-row-end: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 135px 0 131px 0;
}

.main__bottom-paragraph {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
    width: 392px;
    text-align: center;
}

.footer__ticker {
    height: 78px;
    border-right: 1px solid #000000;
}

.footer__logo {
    border: 1px solid #000000;
    border-top: 0;
}

.footer__image {
    margin-top: -181px;
}

.footer__bottom {
    background-color: #CDFD3B;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    padding: 0 93px;
}


